DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYTlkNTQwYWYtY2Y5YS00OGVkLWFhODctZGFhMjU5YWU5MDg3IiwidGVuYW50X2lkIjoiMTg2NDNkMTFkNTVmZmUxMDc3NzhmMjY1MTA2YzRkNTkwMzkzNjdjODYzMjA2MTE0OWEyNjQ1MTBiZGQyMjMyZCIsImludGVybmFsX3NlY3JldCI6Ijc2MzYyNjgzLTcwZDYtNGY0Ny1iOTI0LWVkZjJlYWU4Nzc4MCJ9.NZYhd_ss0VyOqn2eQY6D1vcQWqgjZmKri6ZfOzhOox8"
PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiYTlkNTQwYWYtY2Y5YS00OGVkLWFhODctZGFhMjU5YWU5MDg3IiwidGVuYW50X2lkIjoiMTg2NDNkMTFkNTVmZmUxMDc3NzhmMjY1MTA2YzRkNTkwMzkzNjdjODYzMjA2MTE0OWEyNjQ1MTBiZGQyMjMyZCIsImludGVybmFsX3NlY3JldCI6Ijc2MzYyNjgzLTcwZDYtNGY0Ny1iOTI0LWVkZjJlYWU4Nzc4MCJ9.NZYhd_ss0VyOqn2eQY6D1vcQWqgjZmKri6ZfOzhOox8"
